<div class="menu">
        <app-menu-item title="Recently Saved"></app-menu-item>
        <app-menu-item title="Latest Posts"></app-menu-item>
        <app-menu-item title="GL3 Group"></app-menu-item>
        <app-menu-item title="GL Group"></app-menu-item>
        <app-menu-item title="Promo Group"></app-menu-item>
        <app-menu-item title="schooling Shares"></app-menu-item>

        <!-- <div class="menu_element">
            <img src="img/header/forward-arrow.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/settings-cogwheel-button.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/birthday-cake.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/rubbish-bin-delete-button.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/history-clock-button.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/birthday-cake.png" class="element_image" />
            <h2>Menu title</h2>
        </div>
        <div class="menu_element">
            <img src="img/header/ellipsis.png" class="element_image" />
            <h2>Menu title</h2>
        </div> -->
    </div>
    <div class="feed">
        <br/><br/>
        <div class="posts">
            <app-post fullName="Younes Najjar" id="1" postId="1" ></app-post>
            <app-post fullName="Safaa Khadim" id="2" postId="2" ></app-post>
            <app-post fullName="Younes Najjar" id="1" postId="3" ></app-post>
            <app-post fullName="Safaa Khadim" id="2" postId="4" ></app-post>
            <app-post fullName="Younes Najjar" id="1" postId="5" ></app-post>
        </div>
        <app-widget></app-widget>
    </div>
    <div class="chat">
        <app-chat fullName="Younes Najjar" id="1" ></app-chat>
        <app-chat fullName="Safaa Khadim" id="2" ></app-chat>
        <app-chat fullName="Anass El Aitar" id="3" ></app-chat>
        <app-chat fullName="Zakaria Idatman" id="4" ></app-chat>
    </div>