<div class="menu">
    <app-menu-item title="Recently Saved"></app-menu-item>
    <app-menu-item title="Latest Posts"></app-menu-item>
    <app-menu-item title="GL3 Group"></app-menu-item>
    <app-menu-item title="GL Group"></app-menu-item>
    <app-menu-item title="Promo Group"></app-menu-item>
    <app-menu-item title="schooling Shares"></app-menu-item>
</div>
    <div class="feed">
        <div class="message_container">
            <div class="inbox">
                <div>
                    <img src="../../assets/img/profile/2.jpg" />
                    <h2>Safaa Khadim</h2><br/>
                    message sent here.
                </div>
                <div>
                    <img src="../../assets/img/profile/3.jpg" />
                    <h2>Anass El Aitar</h2><br/>
                    message sent here.
                </div>
                <div>
                    <img src="../../assets/img/profile/4.jpg" />
                    <h2>Zakaria Idatman</h2><br/>
                    message sent here.
                </div>
            </div>
            <div class="chat_room">
                <div class="received">
                    <img src="../../assets/img/profile/2.jpg" />
                    <div class="message">
                    <b>Full name</b>
                    l9it flprofile dyalk bi2anahou andek m3a Angular
                    </div>
                </div>
                <div class="sent">
                    <div class="message">
                    <b>Younes Najjar</b>
                    Oui, andek chi problem?
                    </div>
                </div>
                <div class="received">
                    <img src="../../assets/img/profile/1.jpg" />
                    <div class="message">
                    <b>Younes Najjar</b>
                    Yes, ila 9derti dir lina chi tuto 3lih :p
                    </div>
                </div>
                <div class="sent">
                    <div class="message">
                    <b>Younes Najjar</b>
                    Mer7ba
                    </div>
                </div>
                <div class="sent">
                    <div class="message" contenteditable="true" style="color:#979797;margin-bottom:20px;">
                        Write your message here
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="chat">
    <app-chat fullName="Younes Najjar" id="1" ></app-chat>
    <app-chat fullName="Safaa Khadim" id="2" ></app-chat>
    <app-chat fullName="Anass El Aitar" id="3" ></app-chat>
    <app-chat fullName="Zakaria Idatman" id="4" ></app-chat>
</div>