
<div class="fluid-container login-p">
        <div class="row p-0 m-0">
            <div class="col-lg-8 col-sm-12 login-p-left">
                    <p class="logo"><br></p>
            </div>

            <div class="col-lg-4 col-sm-12  login-p-right">
                <h2>Login</h2>
                    <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">User name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="User name">
                            </div>
                            <div class="form-group">
                                    <label for="formGroupExampleInput4">password</label>
                                    <input type="password" class="form-control" id="formGroupExampleInput4" placeholder="********">
                                    <a href="#" class="dis-block">Forgot password</a>
                            </div>
                            <div class="form-group d-flex justify-content-center align-items-center mt-5">

                                        <button class="btn login-form-btn ">

                                          <i class="fa fa-user" style="font-size:20px"></i>
                                              &nbsp;&nbsp;&nbsp;&nbsp;  Sign in
                                        </button>

                            </div>
                            <div class=" form-group d-flex justify-content-center align-items-center mt-5">
                                        <button class="btn login-form-btn ">
                                          <i class="fa fa-user-plus" style="font-size:20px"></i>
                                              &nbsp;&nbsp;&nbsp;&nbsp;  Sign up
                                        </button>

                            </div>
                    </form>
            </div>

        </div>
</div>
