<div class="menu">
    <app-menu-item title="Recently Saved"></app-menu-item>
    <app-menu-item title="Latest Posts"></app-menu-item>
    <app-menu-item title="GL3 Group"></app-menu-item>
    <app-menu-item title="GL Group"></app-menu-item>
    <app-menu-item title="Promo Group"></app-menu-item>
    <app-menu-item title="schooling Shares"></app-menu-item>
</div>
<div class="profile">
    <div class="sub_profile">
        <div style="text-align: center;">
            <img src="../../assets/img/profile/1.jpg" class="profile_pic" /><br/>
            <h2>Younes Najjar</h2><br/>
            <h3>@Younes_Najjar</h3><br/>
            <button class="btn_follow">Follow</button>
            <button>Message</button>
        </div>
    </div>
</div>
<div class="feed">
    <div class="profile_menu">
        <div>
        <button class="active posts">Posts</button>
        <button class="photos">Photos</button>
        <button class="friends">Friends</button>
        <button class="following">Following</button>
        <button class="about">About</button>
        </div>
    </div>
    <div class="posts">
        <app-post fullName="Younes Najjar" id="1" postId="1" ></app-post>
        <app-post fullName="Safaa Khadim" id="2" postId="2" ></app-post>
        <app-post fullName="Younes Najjar" id="1" postId="3" ></app-post>
        <app-post fullName="Safaa Khadim" id="2" postId="4" ></app-post>
        <app-post fullName="Younes Najjar" id="1" postId="5" ></app-post>
    </div>
    <app-widget></app-widget>
</div>
<div class="chat">
    <app-chat fullName="Younes Najjar" id="1" ></app-chat>
    <app-chat fullName="Safaa Khadim" id="2" ></app-chat>
    <app-chat fullName="Anass El Aitar" id="3" ></app-chat>
    <app-chat fullName="Zakaria Idatman" id="4" ></app-chat>
</div>