<div class="menu">
    <app-menu-item title="Recently Saved"></app-menu-item>
    <app-menu-item title="Latest Posts"></app-menu-item>
    <app-menu-item title="GL3 Group"></app-menu-item>
    <app-menu-item title="GL Group"></app-menu-item>
    <app-menu-item title="Promo Group"></app-menu-item>
    <app-menu-item title="schooling Shares"></app-menu-item>
</div>

<div class="blog_cover">
    
</div>


<div class="feed">
    <div class="blog_info">
        <div style="text-align: center;">
            <img src="../../assets/img/profile/2.jpg" class="blog_pic" />
        </div>
        <div class="blog_info_text">
            <h2>Safaa Khadim</h2><br/>
            <h3>This is the description of this blog This is the description of this blog This is the description of this blog This is the description of this blog </h3><br/>
            <a href="#">http://www.ensias.ma</a><br/>
        </div>
        <div class="blog_menu_container">
            <button class="blog_menu btn_follow">Follow</button>
            <button class="blog_menu">Message</button>
        </div>
        
        <div class="blog_sub_menu">
            
                    <button class="active posts">Posts</button>
                    <button class="photos">Photos</button>
                    <button class="about">About</button>
        
        </div>
        
    </div>
    <div class="posts">
        <div class="post post_form" style="padding:0;">
            <div contenteditable="true">
                Write Something
            </div>
            <button class="post_form_extra"></button>
            <button class="post_form_extra"></button>
            <button class="post_form_extra"></button>
            <button class="post_form_submit"></button>
        </div>
        <app-post fullName="Younes Najjar" id="1" postId="1" ></app-post>
        <app-post fullName="Safaa Khadim" id="2" postId="2" ></app-post>
        <app-post fullName="Younes Najjar" id="1" postId="3" ></app-post>
        <app-post fullName="Safaa Khadim" id="2" postId="4" ></app-post>
        <app-post fullName="Younes Najjar" id="1" postId="5" ></app-post>
    </div>
    <app-widget></app-widget>
</div>
<div class="chat">
    <app-chat fullName="Younes Najjar" id="1" ></app-chat>
    <app-chat fullName="Safaa Khadim" id="2" ></app-chat>
    <app-chat fullName="Anass El Aitar" id="3" ></app-chat>
    <app-chat fullName="Zakaria Idatman" id="4" ></app-chat>
</div>