<div class="post">
    <img class="profile_pic" [src]="imgUrl" />
    <a href="#" >{{fullName}}</a>
    <div>About 1 hour ago</div>
    <hr/>
    Loremp impsus is a generated random text. 
    Loremp impsus is a generated random text. 
    Loremp impsus is a generated random text. 
    Loremp impsus is a generated random text. 
    <img [src]="postImgUrl" class="post_image" /> 
    <hr/>
    <button class="button like right">999</button>
    <button class="button ac_share right">23</button>
    <button class="button ac_comment left">11</button>
</div>