<div class="widgets">
    <div class="widget">
        <img src="../../assets/img/header/idea.png" class="wid_image" />
        <h2>This is the next step</h2>
        <hr/>
        Loremp impsus is a generated random text. 
        Loremp impsus is a generated random text.
        <button class="wid_full_button">START</button>
    </div>
    <div class="widget profile_widget">
        <img src="../../assets/img/profile/2.jpg" class="profile_pic" />
        <a href="#" >Safaa Khadim</a>
        <!-- <font>Web designer and developer</font>
        <hr/>
        <center>
            <button class="wid_follow_button">Follow</button>
            <button class="wid_message_button">Message</button>
        </center> -->
    </div>
    <hr/>
    <h2>Popular Hashtags(Not Priority)</h2>
    <hr/>
    <button class="taq">#Ceremony</button>
    <button class="taq">#Code</button>
    <button class="taq">#Test tag</button>
</div>