<div class="header margin">
  <img src="../assets/img/header/menu-button.png" class="menu_img"/>
  <img src="../assets/img/header/eyeglasses.png" class="logo"/>
  
  <input type="search" placeholder="Search" />
  
  <img (click)="navigateToProfile()" src="../assets/img/header/user-shape.png" class="nav"/>
  <img src="../assets/img/header/notifications-button.png" class="nav"/>
  <img (click)="navigateToChat()" src="../assets/img/header/conversation-speech-bubbles-.png" class="nav"/>
  <img (click)="navigateToBlog()" src="../assets/img/header/burn-button.png" class="nav"/>
  <img src="../assets/img/header/musica-searcher.png" class="nav_s"/>
</div> 